@panel-padding: 2vh;

.wrapper-content {
    flex: 1;
    width: 100%;
}

.wrapper-title {
    height: 5vh;
    width: 100%;
    div {
        display: table-cell;
        text-align: center;
        height: 100%;
    }
}