.trend-line {
    fill: none;
    stroke: #f2b758;
    stroke-opacity: 0.6;
    stroke-width: 2;
}

.trend-point {
    fill: #f2b758;
    r: 4;
    stroke: #f2b758;
    fill-opacity: 0.6;
    stroke-width: 2;
}